@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');

#linkContainer
{
    text-align:center;
}

a
{
    color:lightblue;
}

#rubikFont
{
    font-family:"Rubik Maze" 
}

#homeBtn
{
    color:blue;
}